
extends layout

block content
    script(src='javascripts/echo.js')
    br
    br
    div#output
        p Credit: <a href="https://www.websocket.org/echo.html">https://www.websocket.org/echo.html</a>

    // http://html2jade.org/

    h3 Try it out!
    div#webSocketSupp
        div(style="float: left;")
            <img src="images/check.png" width="36" height="36" align="absmiddle">
        div(style="float: left; width: 600px; margin-left: 10px; position:relative; top: 8px;")
            This browser supports WebSockets
        div.clearfix

    #top-compat-box(style='display:none;')
      p
        | Does your browser
        br
        | support WebSocket?
      #top-compat-info-box
        #top-compat-info
          span#browserType
          br
          span#platform
        #top-compat-image
          a(href='echo.html')
            img#wsSupportImg(src='images/clear.png', alt='', width='25', height='25', border='0')

    #noWebSocketSupp
      div(style='float: left;')
        img(src='images/cross.png', width='36', height='36', align='absmiddle')
      div(style='float: left; width: 600px; margin-left: 10px;')
        p
          | Uh-oh, the browser you're using doesn't have native support for WebSocket. That means you can't run this demo.
        p The following link lists the browsers that support WebSocket:
        p
          a(href='http://caniuse.com/#feat=websockets') http://caniuse.com/#feat=websockets
      .clearfix

    #echo
      #echo-config(style='float: left;')
        strong Location:
        br
        input#wsUri.draw-border(size='35')
        br
        input#secureCb.draw-border.echo-checkbox(type='checkbox', onclick='toggleTls();')
        span#secureCbLabel(style='font-size: smaller; color: black;') Use secure WebSocket (TLS)
        br
        button#connect.echo-button(onclick='createWebSocket()') Connect
        button#disconnect.echo-button(onclick='closeWebSocket()') Disconnect
        br
        br
        strong Message:
        br
        input#sendMessage.draw-border(size='35', value='Test Message')
        br
        button#send.echo-button(onclick='sendMessage()') Send
      #echo-log(style='float: left; margin-left: 20px; padding-left: 20px; width: 350px; border-left: solid 1px #cccccc;')
        strong Log:
        #consoleLog
        button#clearLogBut.echo-button(style='position: relative; top: 3px;', onclick='clearLog()') Clear log
    .clearfix
    br