body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f2f3f3;
  /* Default: background-color: #f2f3f3; */
  /* AWS: background-color: #f4bf42; */
  /* Azure: background-color: #42adf4; */
  /* Google: background-color: #ffffff */
  /* Blue: background-color: #42adf5; */
  /* Green: background-color: #91e094; */
  /* Purple: background-color: #9842f4; */
}

a {
  color: #ffffff;
}

div.indent{
  padding-left: 50px;
}
/*
Nav Bar
*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #afa8a8;
  /* background-color: #c40900;  Red */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  /* color: #f2f2f2; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.login a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #c40900;
  color: white;
}


.article a {
  text-decoration: none;
  /*border-bottom:1px dotted;*/
  border-color: #ff6600;
  color: #ff6600;
}

.article a:hover {
  border-bottom: 1px dotted;
}


#consoleLog {
  background-color: #ffffff;
  border: solid 1px #999999;
  border-top-color: #CCCCCC;
  border-left-color: #CCCCCC;
  padding: 5px;
  width: 100%;
  height: 172px;
  overflow-y: scroll;
}

#consoleLog p {
  font-size: 11px;
  line-height: 150%;
}

#webSocketSupp {
  display: none;
  height: 50px;
  border: 2px solid #060;
  background-color: #F0FFF0;
  margin: 20px;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  color: #0d8900;
}

#webSocketSupp p {
  font-size: 16px;
  color: #0d8900;
}

#noWebSocketSupp {
  display: none;
  border: 2px solid #cb0000;
  background-color: #FFE1E1;
  margin: 20px;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  color: #800000;
}

#noWebSocketSupp p {
  font-size: 16px;
  line-height: 125%;
  color: #800000;
  margin-top: 10px;
}
#noWebSocketSupp p:first-child {
  margin-top: 0px;
}

#echo {

}

#echo button {
  margin-top: 5px;
}

.draw-border {
  border:1px solid #ccc;
}

figcaption {
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 20px;
}

.echo-button {
  background-color: #eee;
  /*color: #f60;*/
  vertical-align:baseline;
  font-size:100%;
  font-weight: 700;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid !important;
}

.echo-button:hover {
  color: #f60;
  border-color: #f60;
  border-width: 1px;
  border-style: solid !important;
}

.echo-checkbox {
  -webkit-appearance: checkbox !important;
  color: green;
}

.echo-checkbox:hover {
  outline:5px !important;
  -webkit-appearance:checkbox !important;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  outline:1px;
}

.space {
  padding-bottom: 40px;
}

#content {
  overflow: auto;
}
#headers {
  float: left;
  width: 60%;
}
#geoout {
  float: right;
  width: 40%;
}

/* =============================
   COMMON STYLES
================================ */

.gap10 {
  margin: 5px 0;
}

.gap20 {
  margin: 10px 0;
}

.gap30 {
  margin: 15px 0;
}

.gap40 {
  margin: 20px 0;
}

.gap50 {
  margin: 25px 0;
}

.gap60 {
  margin: 30px 0;
}

.gap70 {
  margin: 35px 0;
}

.gap80 {
  margin: 40px 0;
}

.gap90 {
  margin: 45px 0;
}

.gap100 {
  margin: 50px 0;
}

.gap110 {
  margin: 55px 0;
}

.gap120 {
  margin: 60px 0;
}


/* CONTACT */

.contactf5 {
  margin: 5px;
  margin-top: 5px;
  padding: 5px 0;
  font-size: 12px;
}

.contactf5 .row {
  margin: 2px;
  margin-top: 2px;
  padding: 2px 0;
}


.cta {
  padding: 5px 0;
  position: relative;
}

.cta h2 {
  margin: 0;
}

.cta::after {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.07;
}

.cta .container {
  position: relative;
  z-index: 11;
}

.cta .btn {
  text-align: left;
  float: right;
}

.cta .btn i {
  float: right;
  margin: -15px 0;
}


.contact-form input {
  width: 60%;
  height: 45px;
  background: #fff;
  border-radius: 0;
  margin: 0 0 15px;
  border: none;
  padding: 0 20px;
  color: #000;
}

.contact-form textarea {
  width: 60%;
  height: 100px;
  background: #fff;
  border-radius: 0;
  margin: 0 0 15px;
  border: none;
  padding: 15px 20px;
  color: #000;
}

.contact-form .checkbox-inline input[type=checkbox]{
  height: 22px;
  width: auto;
}
.contact-form .radio-inline input[type=radio]{
  height: 22px;
  width: auto;
}

footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 19px;
  margin: 0 0 25px;
}

.cinfo p {
  position: relative;
  padding: 0 0 0 30px;
}

.cinfo p i {
  position: absolute;
  left: 0;
  top: 7px;
}

.cbutton {
  background-color: #afa8a8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
}



/* =============================
   Login Page
================================ */

.loginpage {
  padding: 5px 0;
  position: relative;
}

.loginpage h2 {
  margin: 0;
}

.loginpage::after {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.07;
}

.loginpage .container {
  position: relative;
  z-index: 11;
}

.loginpage .btn {
  text-align: left;
  float: right;
}

.loginpage .btn i {
  float: right;
  margin: -15px 0;
}


.login-form input {
  width: 30%;
  height: 45px;
  background: #fff;
  border-radius: 0;
  margin: 0 0 15px;
  border: none;
  padding: 0 20px;
  color: #000;
}

.login-form textarea {
  width: 30%;
  height: 100px;
  background: #fff;
  border-radius: 0;
  margin: 0 0 15px;
  border: none;
  padding: 15px 20px;
  color: #000;
}

.login-form .checkbox-inline input[type=checkbox]{
  height: 22px;
  width: auto;
}
.login-form .radio-inline input[type=radio]{
  height: 22px;
  width: auto;
}
