body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f2f3f5;
  /* AWS: background-color: #f4bf42; */
  /* Azure: background-color: #42adf4; */
  /* Google: background-color: #ffffff */
  /* Blue: background-color: #42adf4; */
  /* Green: background-color: #91e094; */
  /* Default: background-color: #f2f3f3; */
  / * TEST * /

}

a {
  color: #00B7FF;
}

div.indent{
  padding-left: 50px;
}